.set_container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.set_a {
    display: table;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid;
    border-image: linear-gradient(to bottom, #ffe23b 0%, #c47b0d 100%);
    border-image-slice: 1;
    border-width: 2px;
    width: 180px;
    height: 120px;
    margin: 10px;
    transition: background-color 500ms;
    text-decoration: none;
    text-align: center;
    user-select: none;

    // a{
    //     text-align: center;
    //     vertical-align: middle;
    //     display: table-cell;
    //     color: #fff;
    //     transition: color 500ms;
    //     user-select: none;
    // }
    span {
        display: table-cell;
        vertical-align: middle;
    }

}

.set_a:hover {
    background-color:rgba(31, 31, 31, 0.5);
    cursor: pointer;
}

.set_p, .loading {
    text-align: center;
    color: #fff;
    width: 200px;
    height: 20px;
    margin: 20px auto 0 auto;
    user-select: none;
}