.set_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    align-items: center;
}

.set_a {
    display: table;
    background-image: url('../../assets/images/ItemBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 170px;
    color: #0f0f0f;
    width: 250px;
    height: 170px;
    margin: 10px;
    transition: background-color 500ms;
    text-decoration: none;
    text-align: center;
    user-select: none;
    transition: background-image 800ms;

    span {
        padding: 15px;
        display: table-cell;
        vertical-align: middle;
    }
}

.set_a:hover {
    background-image: url('../../assets/images/ItemActive.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 170px;
    transition: background-image 500ms;
    cursor: pointer;
}

.set_p {
    text-align: center;
    color: #fff;
    width: 200px;
    height: 20px;
    margin: 20px auto 0 auto;
    user-select: none;
}