$linkHover: #0098dfe5;
$accentColor: #004c8a;
.active {
    background-color: $accentColor;
}

ul {
    margin: 0;
    display: flex;
}

header {
    background-color: rgba($color: #313131, $alpha: 0.6);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    user-select: none;
    margin-left: 40px;
}

li {
    list-style: none;
    text-align: center;
}

.nav_links {
    margin-right: 40px;
}

.nav_links {
    a {
        cursor: pointer;
        display: inline-block;
        color: white;
        transition: background-color 500ms;
        user-select: none;
    }
}

.nav_links a:hover {
    background-color: $linkHover;
}

li a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    // padding: 1em;
    min-height: 50px;
    min-width: 120px;
}