.cards_container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    img {
        display: block;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}